<?xml version="1.0"?>

<configuration>
    <system.web>
        <customErrors mode="Off"/>
    </system.web>
	<system.webServer>
		<defaultDocument>
			<files>
				<clear />
				<add value="langredirect.asp" />
			</files>
		</defaultDocument>
		<staticContent>
			<clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
				<mimeMap fileExtension="inc" mimeType="text/html" />
				<mimeMap fileExtension="webp" mimeType="image/webp" />
				<mimeMap fileExtension="json" mimeType="application/json" />				
				<mimeMap fileExtension="woff" mimeType="application/font-woff" />		
				<mimeMap fileExtension="woff2" mimeType="application/font-woff" />
		</staticContent>
	</system.webServer>
</configuration>
